---
import Layout from '../layouts/Layout.astro';
import ActionHero from '../components/ActionHero.astro';
import ActionWays from '../components/ActionWays.astro';
import VolunteerCTA from '../components/VolunteerCTA.astro';
---

<Layout title="Agir">
	<main>
		<ActionHero />
		<ActionWays />
		<VolunteerCTA />
	</main>
</Layout>