---
import Layout from '../layouts/Layout.astro';
import VolunteerHero from '../components/VolunteerHero.astro';
import VolunteerOpportunities from '../components/VolunteerOpportunities.astro';
import VolunteerForm from '../components/VolunteerForm.astro';
import VolunteerTestimonials from '../components/VolunteerTestimonials.astro';
---

<Layout title="Rejoindre l'équipe">
  <main class="pt-32">
    <VolunteerHero />
    <VolunteerOpportunities />
    <VolunteerTestimonials />
    <VolunteerForm />
  </main>
</Layout>