---
import Layout from '../layouts/Layout.astro';
import DonationForm from '../components/DonationForm.astro';
import DonationImpact from '../components/DonationImpact.astro';
---

<Layout title="Faire un don">
  <main class="pt-32">
    <DonationForm />
    <DonationImpact />
  </main>
</Layout>