---
import Layout from '../layouts/Layout.astro';
import MissionHero from '../components/MissionHero.astro';
import MissionValues from '../components/MissionValues.astro';
---

<Layout title="Notre Mission">
	<main>
		<MissionHero />
		<MissionValues />
	</main>
</Layout>