---
import Layout from '../layouts/Layout.astro';
import OffersHero from '../components/OffersHero.astro';
import OffersList from '../components/OffersList.astro';
import OffersTestimonials from '../components/OffersTestimonials.astro';
import OffersCTA from '../components/OffersCTA.astro';
---

<Layout title="Nos Offres">
  <main class="pt-32">
    <OffersHero />
    <OffersList />
    <OffersTestimonials />
    <OffersCTA />
  </main>
</Layout>