---
import Layout from '../layouts/Layout.astro';
import SponsorshipHero from '../components/SponsorshipHero.astro';
import SponsorshipProcess from '../components/SponsorshipProcess.astro';
import SponsorshipForm from '../components/SponsorshipForm.astro';
import SponsorshipFAQ from '../components/SponsorshipFAQ.astro';
---

<Layout title="Parrainer un enfant">
  <main class="pt-32">
    <SponsorshipHero />
    <SponsorshipProcess />
    <SponsorshipForm />
    <SponsorshipFAQ />
  </main>
</Layout>