---
import Layout from '../layouts/Layout.astro';
import PartnershipHero from '../components/PartnershipHero.astro';
import PartnershipBenefits from '../components/PartnershipBenefits.astro';
import PartnershipForm from '../components/PartnershipForm.astro';
import PartnershipTestimonials from '../components/PartnershipTestimonials.astro';
---

<Layout title="Devenir Partenaire">
  <main class="pt-32">
    <PartnershipHero />
    <PartnershipBenefits />
    <PartnershipTestimonials />
    <PartnershipForm />
  </main>
</Layout>