---
import Layout from '../layouts/Layout.astro';
import ProjectsHero from '../components/ProjectsHero.astro';
import ProjectsList from '../components/ProjectsList.astro';
import ProjectsMap from '../components/ProjectsMap.astro';
import ProjectsImpact from '../components/ProjectsImpact.astro';
---

<Layout title="Nos Projets">
  <main class="pt-32">
    <ProjectsHero />
    <ProjectsList />
    <ProjectsMap />
    <ProjectsImpact />
  </main>
</Layout>