---
import Layout from '../layouts/Layout.astro';
import SupportHero from '../components/support/SupportHero.astro';
import SupportOptions from '../components/support/SupportOptions.astro';
import SupportImpact from '../components/support/SupportImpact.astro';
import SupportCTA from '../components/support/SupportCTA.astro';
---

<Layout title="Nous soutenir">
  <main>
    <SupportHero />
    <SupportOptions />
    <SupportImpact />
    <SupportCTA />
  </main>
</Layout>